<h1 align="center"><%= "Categories: " + @category.name %></h1>

<% if logged_in? and current_user.admin? %>
  <div align="center">
    <div class="row">
      <span class="badge"><%= link_to "Edit #{@category.name} category", edit_category_path(@category) %></span>
    </div>
  </div>
<% end %>

<br>

<%= render 'articles/article', obj: @category_articles %>

<div align="center">
  <%= will_paginate @category_articles %>
</div>
